on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # ----------------------------------------------------
      # Insert the license acceptance step here:
      # ----------------------------------------------------
      - name: Accept Android SDK licenses
        run: |
          mkdir -p "$ANDROID_HOME/licenses"
          # This pipes 'y' to accept all licenses when running the sdkmanager command
          echo -e "\ny\ny\ny\ny\ny\ny\ny\ny\n" | $ANDROID_HOME/tools/bin/sdkmanager --licenses
      # ----------------------------------------------------
      - name: Build APK
        uses: digreatbrian/buildozer-action@v2
        with:
          python-version: 3.11
          buildozer-cmd: buildozer -v android debug

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: ./bin/*.apk
